language: ruby

rvm:
  - 1.9.3
  - 2.0.0

before_script:
  - bundle exec berks install

script:
  - bundle exec rake travis

branches:
  only:
    - master

notifications:
  email:
    - dev@escapestudios.com